.allFurniture {
  margin: 0 auto;
  padding: 40px;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4em;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.empty {
  color: #fff;
  font-size: 3em;
}
