.container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3em;
  align-items: center;
  color: #fff;
}

.mainTitle {
  font-size: 3em;
  align-content: center;
}

.text {
  padding: 40px;
}

.text p {
  font-size: 1.5em;
}

.link {
  text-decoration: none;
  font-style: italic;
  color: #fff;
  border-radius: 5px;
  background-color: #573b8a;
  padding: 5px 10px;
  transition: 0.3s ease-in;
  margin-left: 10px;
}

.homePic {
  width: 1000px;
}

.lastFurniture {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 70px;
}

.allContent {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 750px;
}
