.container {
  font-family: "Jost", sans-serif;
  height: auto;
  width: 800px;
  background: red;
  overflow: hidden;
  background: linear-gradient(to bottom, #1e194e, #302b63, #24243e);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.allContent {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.title {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

.searchBar {
  margin: auto 50px;
  display: flex;
  flex-direction: row;
  gap: 4em;
  justify-content: space-around;
  align-items: center;
  width: 700px;
}

.position {
  margin: 0 auto;
}

.resultFurniture {
  margin-top: 60px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2em;
  flex-wrap: wrap;
}
